.container {
  padding: 12px;

  @media (max-width: 768px) {
    padding: 4px !important;
  }
}

.tab-account {
  .tab-content {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-top: none;

    @media (max-width: 768px) {
      padding: 4px;
    }
  }
}

.row {
  margin: 0 -12px;
}

form {
  padding: 5px;
  background: #ffffff;

  @media (max-width: 768px) {
    padding: 0px;
  }
}

#admin {
  .bg-editor {
    label {
      color: #9ca3af;
      font-size: 13px;
    }

    .images {
      background: #363636;
      padding: 10px;

      .bg-images {
        border: 1px solid #ccc;
        padding: 10px;
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      right: 12px;
      filter: invert(1);
    }
  }
}

.v-text-field input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 14px;
  line-height: 14px !important;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
  padding: 7px 6px 7px !important;
}

@import "~/assets/styles/admin/swal.scss";
