.v-application.theme-dark {
  .v-dialog {
    box-shadow: #0F0F0F 0px 0px 1px inset, #ac3be4 0px 2px 5px;
    .page-body {
      border: none !important;
    }

    .v-card__title.title-modal {
      color: #f1f1f1 !important;
      text-shadow: $title-text-shadow;
      // border-left: 1px solid #a4a4a4;
      // border-right: 1px solid #a4a4a4;
      // background-image: linear-gradient(180deg, #a4a4a4, #0F0F0F 9%, #0F0F0F 58%, #0F0F0F) !important;
      border-left: $border-theme-dark;
      border-right: $border-theme-dark;
      background: linear-gradient(180deg, #b549cc, #0F0F0F 12%, #0F0F0F 58%, #0F0F0F) !important;

      background: none;

      // &.text-menu-main {
      //   color: #f1f1f1 !important;
      // }
    }

    .v-card__actions {
      background: #0F0F0F;
      border: $border-theme-dark;
      border-top: none;
      border-bottom: none;
    }

    .v-card {
      border-bottom: $border-theme-dark;
      .v-card__actions {
        border: $border-theme-dark;
        border-top: none;

        border-bottom: none;
        background: #0F0F0F;
      }

      .v-card__text {
        border: $border-theme-dark;
        border-top: none;
        border-bottom: none;

        background: #171e28;
      }

      .close {
        color: #f1f1f1;
        background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
        border: $border-theme-dark;
      }

      .red--text {
        color: #f1f1f1 !important;
        caret-color: #f1f1f1 !important;
      }

      .base-diglog-item {
        color: #f1f1f1;

      }
      .base-diglog-name {
        text-shadow: $text-shadow-theme-dark !important;

      }
     
    }

    .v-input--selection-controls {
      margin-top: 0px;

      label {
        margin-bottom: 0px !important;
      }

      .main--text {
        color: #833cf7 !important;
        caret-color: #f1f1f1 !important;
      }
    }

    &.main--text {
      color: #833cf7;
    }

    .text-main {
      color: #f1f1f1 !important;
      text-shadow: $text-shadow-theme-dark !important;
    }
    

    .list-number {

      .number {
        .v-btn {
          background: radial-gradient(circle at 50% 100%, #424040, #a4a4a4 58%, #424040 127%);
          border: 1px solid #a4a4a4 !important;
          box-shadow: #a4a4a4 0px 0px 1px inset, #0F0F0F 0px 1px 1px;
          color: #0F0F0F;

          &.active {
            // background: #f1f1f1;
            background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
            border: 1px solid #a937ed !important;
            color: #f1f1f1;
          }
        }
      }
    }
  }





}