#theme-dark {
  .modal-content {
    box-shadow: #0F0F0F 0px 0px 1px inset, #ac3be4 0px 2px 5px;
    border-bottom: 1px solid #b549cc;

    margin: 5px;

    .modal-header {
      border-left: 1px solid #b549cc;
      border-right: 1px solid #b549cc;
      background: linear-gradient(180deg, #b549cc, #0F0F0F 12%, #0F0F0F 58%, #0F0F0F) !important;
      // background-image: linear-gradient(180deg, #663019, #e28637 9%, #e28637 58%, #e28637) ;

      .modal-title {
        color: #fff;
        text-shadow: rgb(131 60 247) 0px 0px 5px,
            rgb(131 60 247) 0px 0px 5px,
            rgb(131 60 247) 0px 0px 0px,
            rgb(131 60 247) 0px 0px 0px,
            rgb(131 60 247) 0px 0px 0px;
      }

      .close {
        color: #f1f1f1;
        background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
        border: 1px solid #b549cc;
      }
    }

    .modal-body {
      border: 1px solid #b549cc;
      border-top: none;
      border-bottom: none;
      background: #171e28;
      text-shadow: #833cf7 0px 0px 2px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px !important;

      .thongbao {
        text-shadow: none;
      }
      .page-body {
        background: #031019;
        border: none;
        color: #f1f1f1;

        .info-atm-momo {
          background: #171e28;
          border: 1px solid #031019;

          .title {
            color: #f1f1f1;
          }

          .sms {
            color: #f64e60 !important;
          }

          .text-danger,
          .text-primary {
            color: #f1f1f1 !important;
          }


        }

        .nav-tabs {
          margin: 0 5px;

          .nav-item {
            .nav-link {
              color: #f1f1f1;
              border-bottom: 1px solid #171e28;

              &.active {
                background-color: #171e28;
                color: #fff;
              }
            }
          }
        }

        .table {
          &.text-center {
          text-shadow: #833cf7 0px 0px 5px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px;
      
          }
      
          th.info-nick {
            background: #171e28 !important;
            color: #f1f1f1;
            border: 1px solid #031019 !important;
          }
      
          td.mua-nick {
            background: #031019;
            color: #f1f1f1;
            border: 1px solid #171e28 !important;
            div {
              background-color: #171e28 !important;
            }
            span {
              color: #f1f1f1;
            }
      
            .btn {
              text-shadow: none;
            }
          }
        }

        .v-btn--icon.v-size--default .v-icon.mdi.mdi-content-copy {
          color: #f1f1f1 !important;
          text-shadow: #833cf7 0px 0px 2px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px, #833cf7 0px 0px 0px !important;


        }
      }
    }

    .modal-footer {
      border: 1px solid #b549cc;
      border-top: none;
      border-bottom: none;
      background: #0f0f0f;

      .color-main {
        color: #fff;
      }
    }

    .custom-control-input:checked~.custom-control-label::before {
      color: #333;
      border: 1px solid #b549cc;
      background-color: #0F0F0F;
    }
  }
}