#theme-dark {
  .modal-header {
    border-left: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    background-image: linear-gradient(180deg, #a4a4a4, #0F0F0F 9%, #0F0F0F 58%, #0F0F0F) !important;
    // background-image: linear-gradient(180deg, #663019, #e28637 9%, #e28637 58%, #e28637) ;

    .modal-title {
      color: #fff;
    }

    .close {
      color: #f1f1f1;
      background: #424040;
      border: 1px solid #a4a4a4;
    }
  }

  .modal-body {
    border: 1px solid #a4a4a4;
    background: #424040;

    .page-body {
      background: #222;
      border: 1px solid #a4a4a4;
      color: #f1f1f1;

      .info-atm-momo {
        background: #424040;
        border: 1px solid #a4a4a4;

        .title {
          color: #f1f1f1;
        }

        .sms {
          color: #f1f1f1 !important;
        }

        .text-danger,
        .text-primary {
          color: #f1f1f1 !important;
        }


      }

      .nav-tabs {
        margin: 0 5px;

        .nav-item {
          .nav-link {
            color: #f1f1f1;

            &.active {
              background-color: #424040;
              color: #fff;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }

      .table {
        th.info-nick {
          background: #0f0f0f;
          color: #fff;
          border: 1px solid #a4a4a4 !important;
        }

        td.mua-nick {
          background: #424040;
          color: #fff;
          border: 1px solid #a4a4a4 !important;

          span {
            color: #f1f1f1;
          }
        }
      }

      .v-btn--icon.v-size--default .v-icon.mdi.mdi-content-copy {
        color: #f1f1f1 !important;

      }
    }
  }

  .modal-footer {
    border: 1px solid #a4a4a4;
    background: #0f0f0f;

    .color-main {
      color: #fff;
    }
  }

  .custom-control-input:checked~.custom-control-label::before {
    color: #333;
    border-color: #0F0F0F;
    background-color: #0F0F0F;
  }
}