.theme-dark {
  .modal-content {
    box-shadow: #0F0F0F 0px 0px 1px inset, #ac3be4 0px 2px 5px;
    border-bottom: $border-theme-dark;

    margin: 5px;

    .modal-header {
      border-left: $border-theme-dark;
      border-right: $border-theme-dark;
      background: linear-gradient(180deg, #b549cc, #0F0F0F 12%, #0F0F0F 58%, #0F0F0F) !important;
      // background-image: linear-gradient(180deg, #663019, #e28637 9%, #e28637 58%, #e28637) ;

      .modal-title {
        color: #fff;
        text-shadow: rgb(131 60 247) 0px 0px 5px,
          rgb(131 60 247) 0px 0px 5px,
          rgb(131 60 247) 0px 0px 0px,
          rgb(131 60 247) 0px 0px 0px,
          rgb(131 60 247) 0px 0px 0px;
      }

      .close {
        color: #f1f1f1;
        background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
        border: $border-theme-dark;
      }
    }

    .modal-body {
      border: $border-theme-dark;
      border-top: none;
      border-bottom: none;
      background: #171e28;
      text-shadow: $text-shadow-topic-theme-dark !important;

      .thongbao {
        text-shadow: none;
      }

      .page-body {
        background: #031019;
        border: none;
        color: #f1f1f1;





        .table {
          &.text-center {
            text-shadow: $text-shadow-theme-dark;

          }

          th.info-nick {
            background: #171e28 !important;
            color: #f1f1f1;
            border: 1px solid #031019 !important;
          }

          td.mua-nick {
            background: #031019;
            color: #f1f1f1;
            border: 1px solid #171e28 !important;

            div {
              background-color: #171e28 !important;
            }

            span {
              color: #f1f1f1;
            }

            .btn {
              text-shadow: none;
            }
          }
        }


      }
    }

    .modal-footer {
      border: $border-theme-dark;
      border-top: none;
      border-bottom: none;
      background: #0f0f0f;


    }


  }



  .custom-control-input:checked~.custom-control-label::before {
    color: #333;
    border: $border-theme-dark !important;
    background-color: #0F0F0F !important;
  }

  .info-atm-momo {
    background: #171e28 !important;
    border: 1px solid #031019 !important;

    .title {
      color: #f1f1f1 !important;
    }

    .sms {
      color: #f64e60 !important;
    }

    .text-danger,
    .text-primary {
      color: #f1f1f1 !important;
    }


  }

  .v-btn--icon.v-size--default .v-icon.mdi.mdi-content-copy {
    color: #f1f1f1 !important;
    text-shadow: $text-shadow-topic-theme-dark !important;

  }

  .color-main {
    color: #fff;
  }
}