.swal-dark {
    .swal2-popup {
      background-color: #424242 !important;
      border-image: url(https://muabannick.pro/images/box/box.jpg) 10 round;
      background: linear-gradient(180deg, #b549cc, #0F0F0F 12%, #0F0F0F 58%, #0F0F0F) !important;
      border-radius: 3px;
      border: $border-theme-dark-2 !important;
      box-shadow: #0F0F0F 0px 0px 1px inset, #ac3be4 0px 2px 5px;

      .swal2-title, .swal2-html-container {
        color: #f1f1f1 !important ;
        padding: .8em .4em 0;
      }
      .swal2-confirm.swal2-styled {
        color: #f1f1f1 !important;
        border: $border-theme-dark !important;
        box-shadow: #0F0F0F 0px 0px 1px inset, #ac3be4 0px 1px 2px;
        background: radial-gradient( #a937ed, #0F0F0F 72%) !important;
      }
    }
    .swal2-success-circular-line-left, .swal2-success-circular-line-right, .swal2-success-fix {
      background-color: none !important;
    }
  
  
}