.theme-dark {
  table {
    color: #f1f1f1;

    th {
      color: #f1f1f1;
      border: 1px solid #a4a4a4 !important;
      background: #0F0F0F;
    }

    td {
      border: 1px solid #a4a4a4;
    }

    &.table.table-striped>tbody>tr:nth-of-type(odd) {
      color: #f1f1f1 !important;
      background: #424040 !important;
    }
  }

  .pagination {
    .page-item {
      &.active {
        .page-link {
          color: #333 !important;
          border: 1px solid #f1f1f1 !important;
          background-image: linear-gradient(180deg, #f1f1f1, #a4a4a4 9%, #f1f1f1 58%, #f1f1f1) !important;

          &:hover {
            color: #333;
            background-image: linear-gradient(180deg,
                #f1f1f1,
                #f1f1f1 9%,
                #a4a4a4 58%,
                #a4a4a4) !important;
          }
        }
      }

      .page-link {
        color: #f1f1f1 !important;
        border: 1px solid #a4a4a4 !important;
        background-image: linear-gradient(180deg, #424040, #0F0F0F 9%, #0F0F0F 58%, #0F0F0F) !important;

        &:hover {
          color: #f1f1f1;
          background-image: linear-gradient(180deg,
              #0F0F0F,
              #0F0F0F 9%,
              #424040 58%,
              #424040) !important;
        }
      }
    }
  }


}