.theme-dark {
  table {
    color: #f1f1f1;

    th {
      color: #f1f1f1;
      border: 1px solid #0F0F0F !important;
      border-top:  none !important;
      background: linear-gradient(180deg, #b549cc, #0F0F0F 12%, #0F0F0F 58%, #0F0F0F) !important;
    }

    td {
      border: 1px solid #0F0F0F;
    }

    &.table.table-striped>tbody>tr:nth-of-type(odd) {
      color: #f1f1f1 !important;
      background: #171e28 !important;
    }
  }

  .pagination {
    .page-item {
      &.active {
        .page-link {
          color: #f1f1f1 !important;
          background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
          border: 1px solid #a937ed !important;
          // &:hover {
          //   color: #333;
          //   background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;
          // }
        }
      }

      .page-link {
        color: #f1f1f1 !important;
        border: 1px solid #a4a4a4 !important;
          background: radial-gradient(circle at 50% 100%, #424040, #a4a4a4 58%, #424040 127%) !important;

        &:hover {
          border: 1px solid #a937ed !important;
          background: radial-gradient(circle at 50% 15%, #a937ed, #0F0F0F 72%) !important;

        }
      }
    }
  }


}