.list-number {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .number {
    width: 20%;
    margin-bottom: 10px;

    .v-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $color-blue;
      color: #fff !important;

      .v-icon {
        font-size: 20px;
      }

      &.active {
        background: $blue-bold;
      }
    }
  }
}