.rightbar-content .user-info-wrap {
  top: 5px;
  right: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100vh - 50px - 50px - 10px);
  background: #fff !important;;
  background-size: 100% 100%;
  border-radius: 4px;
  @media (max-width: 1265px) {
    height: calc(100vh - 50px - 10px);
  }
  // .base-svg {
  //   svg {
  //     height: 70px;
  //     width: 70px;
  //   }
  // }

  .user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button.v-btn .v-btn__content,
    .v-btn--icon.v-size--default {
      height: 70px !important;
      width: 70px !important;
      font-size: 70px;
    }

    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
  }
}

.rightbar-content .member-nav .h-line {
  background-color: #3399ff;
}


.rightbar-content {
  border: 5px solid $yellow-bold  !important;
  background: $background-sidebar;
  max-height: calc(100vh - 50px - 45px);
  height: 100%;
  margin-top: 0px;
  // border-radius: 4px;

  .base-svg {
    margin: 0;

    svg {
      height: 26px;
      width: 26px;

      path {
        height: 26px;
        width: 26px;
      }
    }
  }

  // .user-info-wrap {
  //   .base-svg {

  //     svg {
  //       height: 70px;
  //       width: 70px;
  //     }
  //   }
  // }

  .user-info-wrap {
    border: none !important;
    // border: 2px solid $blue-bold  !important;
  }

  @media (max-width: 1265px) {
    max-height: calc(100vh - 45px);
  }
}
