.v-tabs {
  .v-tabs-slider {
    background-color: $blue-bold;
  }
  .v-tab {
    width: 50%;
    font-weight: bold;
    &.v-tab--active {
      color: #fff;
      border: none;
      border-bottom: 1px solid $blue-bold;
      background-color: $blue-bold;
    }
    &:not(.v-tab--active) {
      color: #333;
      background-color: $color-blue;

    }
  }
}