// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-gray: #a4a4a4;
$color-blue: #3399ff;
$blue-bold: #1976d2;
$yellow-bold: rgb(228, 137, 36);
$yellow-bold-2: #ff6900;
$dark-bold: #333;

$color-theme-blue: $blue-bold;
$color-theme-blue-bland: #e6f6ff;
$border-gray: 1px solid $color-gray;

$color-theme-dark: #a937ed;

$color-boder: #b549cc;

$border-theme-dark: 1px solid $color-boder;

$border-theme-dark-2: 2px solid $color-boder;

$color-theme-yellow: $yellow-bold;
$bottom-color: $dark-bold;

$text-shadow-theme-dark: $color-theme-dark 0px 0px 5px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;

$text-shadow-topic-theme-dark: $color-theme-dark 0px 0px 2px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;

$title-text-shadow: $color-theme-dark 0px 0px 5px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;
// $title-text-shadow: $color-theme-dark 0px 0px 5px,
//   $color-theme-dark 0px 0px 5px,
//   $color-theme-dark 0px 0px 0px,
//   $color-theme-dark 0px 0px 0px,
//   $color-theme-dark 0px 0px 0px;
// ;
