// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-theme-dark: #a937ed;
$color-boder: #bd00ff;
$color-theme-red: #FF0000;

$border-theme-dark: 1px solid $color-boder;
$border-theme-dark-2: 2px solid $color-boder;
$border-theme-red: 1px solid $color-theme-red;
$border-theme-red-2: 2px solid $color-theme-red;

$text-shadow-theme-dark: $color-theme-dark 0px 0px 5px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;

$text-shadow-topic-theme-dark: $color-theme-dark 0px 0px 2px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;

$title-text-shadow: $color-theme-dark 0px 0px 5px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px,
  $color-theme-dark 0px 0px 0px;


$text-shadow-theme-red: $color-theme-red 0px 0px 5px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px;

$text-shadow-topic-theme-red: $color-theme-red 0px 0px 2px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px,
  $color-theme-red 0px 0px 0px;
// $title-text-shadow: $color-theme-dark 0px 0px 5px,
//   $color-theme-dark 0px 0px 5px,
//   $color-theme-dark 0px 0px 0px,
//   $color-theme-dark 0px 0px 0px,
//   $color-theme-dark 0px 0px 0px;
// ;
