$fontSize: (
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  20,
  24,
  28,
  20,
  32,
  36,
  48
);
$fontWeight: (
  400,
  450,
  500,
  550,
  600,
  650,
  700,
  750,
  800
);

$margins: (
  -1,
  -2,
  -3,
  -4,
  -5,
  -6,
  -10
);

@each $fontSize in $fontSize {
  @each $fontWeight in $fontWeight {
    .text-#{$fontSize}-#{$fontWeight} {
      font-size: #{$fontSize}px !important;
      font-weight: #{$fontWeight} !important;
    }
  }
}

@each $margins in $margins {
  .mg-#{$margins}px {
    margin: #{$margins}px;
  }
}

.bold {
  font-weight: bold;
}

.loading-resoult {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}
