.form-deposit-card {
  max-height: calc(100vh - 120px);

  form {
    height: 100%;
    background: #ffefa3;

    &::-webkit-scrollbar-thumb {
      background: #561d00 !important;
      border-radius: 10px !important;
    }

    &::-webkit-scrollbar-track {
      background: #ffefa3;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 0px !important;
      direction: ltr;
    }

  }

  background: $color-theme-blue-bland;
  border: $border-gray;

}

.form-search {
  background: none;
  margin: -6px;
  // @media (max-width: 768px) {
  //   input,
  //   select {
  //     -webkit-user-select: auto;
  //     overflow: auto;
  //     appearance: none;
  //     outline: none;
  //     transition: all .3s ease;
  //   }
  // }

  form {
    padding: 10px;
    background: none;
  }

  @media (max-width: 600px) {
    .page-body {
      padding: 6px;

      .col-12,
      .col-6,
      .col-3 {
        padding: 3px;
      }
    }
  }
}

.v-application {
  form {
    a {
      color: #e28637;
    }

    .custom-field-input {
      padding: 6px 12px;
    }
  }
}

.btn-show-more {
  text-align: center;
  margin: 0 auto;

  button {
    width: auto;
    color: #ffffff;
    background: linear-gradient(-135deg, $color-blue, $blue-bold);

    border: none !important;
    border-radius: 4px !important;
  }
}

.v-text-field {
  padding: 0 !important;
  margin-top: 0 !important;

  .v-text-field__details {
    display: none;
  }
}

.theme--dark {
  .v-input {
    background: none;
    border-radius: 3px;
    border: none;
    height: 36px;

    input {
      color: #495057 !important;
      padding: 8px 5px;

      &::placeholder {
        color: #495057 !important;
      }
    }

    &.v-input--switch {
      &.v-input--selection-controls {
        margin-top: 0px;
      }
      .v-input__slot {
        background: none;
        border-radius: 3px;
        border: none;
      }
    }

    .v-input__slot {
      background: #fff;
      border-radius: 3px;
      border: $border-gray;
    }

    &.v-input--radio-group--column {
      background: none;
      border-radius: 3px;
      border: none;
      height: auto;

      .v-radio {
        .v-icon {
          color: $blue-bold  !important;

        }

        .primary--text {
          color: $blue-bold  !important;
          caret-color: $blue-bold  !important;

        }

        .v-label {
          color: $blue-bold  !important;

        }
      }

      .v-input__slot {
        background: none;
        border: none !important;

      }
    }
  }

  .v-select {
    .v-select__slot {
      .v-select__selections {
        color: #495057;
        padding: 0 5px;
        max-height: 36px;

        .v-select__selection--comma {
          margin: 10px 0px;
        }
      }

      .primary--text {
        color: #495057 !important;
        caret-color: #495057 !important;
      }
    }
  }

  .v-text-field {
    .v-input__control {
      .v-input__slot {
        margin-bottom: 0;
        max-height: 36px;

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }



  // .theme--dark

  .v-menu__content {
    border-radius: 3px;
    border: 1px solid $blue-bold;

    .v-list {
      padding: 0;

      .v-list-item {
        background: #fff;
        color: #333 !important;

        min-height: 30px;

        &.v-list-item--highlighted::before {
          opacity: 0;
        }
      }


      .v-list-item--active {
        background: $blue-bold;
        color: #fff !important;
        border-top: 1px solid $blue-bold;
        border-bottom: 1px solid $blue-bold;
      }
    }


    &::-webkit-scrollbar {
      width: 2px !important;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $blue-bold  !important;
      border-radius: 10px !important;
    }
  }
}

select {
  width: 1%;
  flex: 1 1 auto !important;
}

select,
input.v-input {
  height: 34px !important;
  min-height: 34px !important;
  padding: 5px 10px !important;
  border-radius: 4px;
  border: $border-gray  !important;
  background-color: #fff !important;
  color: #0F0F0F !important;
}

// button.btn-login {
//   background: radial-gradient(circle at 50% 100%, #e28637, #9f5424 58%, #561d00 127%) !important;
// }

.register-btn {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 0 0.235rem;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 0.05rem 0.2rem 0 rgb(0 0 0 / 49%);
  border: none;
  font-weight: 700;
  font-weight: 500;
  color: #333;
  /* background-image: linear-gradient(180deg,#fdffdb,#d9e254); */
  background: #fff;

  &:hover {
    opacity: 0.8;

  }
}

form.form {
  // padding: 10px 30px 30px;
  background: $color-theme-blue-bland;
  // border: 1px solid #663019;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .field {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    position: relative;

    &.submit {
      margin-top: 0px;
    }

    input {
      height: 100%;
      width: 100%;
      outline: none;
      font-size: 17px;
      padding-left: 5px;
      border-radius: 4px;
      transition: all 0.3s ease;
      background: #fff;

      &.v-input {
        z-index: 999999999;
        height: 35px;
        // border: 1px solid #e28637;
        color: #0F0F0F !important;

        &.text-danger {
          color: red !important;
          font-size: 15px;
        }
      }
    }

    select {
      height: 100%;
      width: 100%;
      outline: none;
      font-size: 17px;
      padding-left: 5px;
      border-radius: 4px;
      transition: all 0.3s ease;
    }

    input[type="submit"],
    .btn-login {
      width: 100%;
      border-radius: 20px;
      color: #fff !important;
      border: none;
      padding-left: 0;
      // font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      background: linear-gradient(-135deg, $yellow-bold-2, $yellow-bold) !important;
      transition: all 0.3s ease;

      span {
        color: #fff !important;
      }
    }
  }

  .signin {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #663019;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;

    input {
      width: 15px;
      height: 15px;
      background: red;
    }

    span {
      white-space: nowrap;
      color: #4158d0 !important;
      cursor: pointer;
    }
  }
}
