.v-dialog>.v-card>.v-card__actions {
  border: 2px solid #663019;
  background: #e28637;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: flex-end;
}