.v-dialog {
  overflow: visible;
  overflow-y: unset !important;

  .nav.nav-tabs {
    background: #333;

    .nav-link {
      font-weight: 500;
      color: #fff;

      &.active {
        color: #333;

      }
    }
  }

  .v-card {
    position: relative !important;

    .close {
      position: absolute !important;
      align-items: center !important;
      justify-content: center !important;
      -ms-flex-pack: center !important;
      text-decoration: none;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      line-height: 25px;
      right: -7px;
      top: -7px;
      border: 2px solid #333;
      z-index: 2;
      opacity: 1 !important;
      font-size: 23px;
      padding: 0;
      z-index: 1001;

      .v-icon.v-icon {
        font-size: 20px !important;
      }
    }

    .modal-body {
      padding: 0px;

      form {
        padding: 10px;
      }
    }

    .v-card__title.title-modal {
      color: #fff;
      border-left: 2px solid #272727;
      border-right: 2px solid #272727;
      background: #333;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .v-card__text {
      position: relative;
      border-right: 2px solid #272727;
      border-left: 2px solid #272727;
      // background: #f2f2f2;
      padding: 10px !important;
    }

    // &.modal-upload {
    //   position: relative;
    //   .v-card__actions{
    //     position:absolute;
    //     width: 100%;
    //   }

    // }
    .card-footer {
      padding: 0 5px;
    }
  }

  &.image-zoom {
    .v-card {
      .v-card__text {
        padding: 0 !important;
      }
    }
  }

}

.v-card>.v-card__actions {
  width: 100%;
  border: 2px solid #272727 !important;
  background: #333;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: flex-end;
  padding: 6px 16px;
  gap: 5px;

  button {
    // margin-left: 5px;
  }
}