$primary: #3699FF;
$primary-border: #0062cc;
$primary-bold: #0069d9;
$blue: #007bff;
$danger : #a21d0a;


::v-depp {
  .has-error .validation {
    margin-top: 15px !important;
  }

  .v-application p {
    margin-bottom: 8px !important;
  }
}


// .full-screen {
//   .row {


//     .col-lg-8,
//     .col-lg-4
//     {
//       width: 100%;
//       padding: 6px;
//     }
//   }
// }
.sms {
  font-weight: 500;
  color: $danger  !important;

}

#home-page {

  .content-main,
  .text-main {
    color: #561d00;
    font-size: 15px;
  }

  // .text-main {
  .v-btn--icon.v-size--default {
    height: 25px !important;
    width: 25px !important;

    .v-icon {
      font-size: 18px !important;

      &.mdi.mdi-content-copy {
        color: #561d00;
      }

      &.mdi-check-circle-outline {
        &.v-icon-success {
          color: #28a745;
        }
      }
    }
  }

  .btn-show-more {
    color: #ffffff;
    background: linear-gradient(-135deg, #e28637, #561d00);

    border: none !important;
    border-radius: 4px !important;
    text-align: center;
    margin: 0 auto;
  }


  // }




  .title {
    color: #561d00;
  }
}


.page-body {
  position: relative;
  color: #663019;
  border: 1px solid #663019;
  background: #ffefa3;
  padding: 6px;
  border-radius: 4px;
}

.box-body {
  position: relative;
  color: #663019;
  border: 1px solid #663019;
  background: #ffcf9c;
  padding: 6px;
  border-radius: 4px;
}

.bg-none {
  background: none !important;
}

// @media (max-width: 599px) {
//   .page-body {
//     margin-bottom: -15px;
//   }
// }

.btn-buy-account,
.mua-nick {
  cursor: pointer;
  padding: 5px;
  color: #663019;
  border: 1px solid #663019;
  background: #ffcf9c;

  .v-btn {
    font-weight: 400;
  }
}

.btn-buy-account-hover {
  color: #ffcf9c;
  border: 1px solid #663019;
  background: #e28637;

  .v-btn {
    color: #ffcf9c;
  }
}

.btn-buy-account,
.btn-buy-account-hover,
.mua-nick {
  padding: 6.5px;
  border-radius: 3px !important;
  text-align: center;
}


.account-empty {
  position: relative;
  color: #663019;
  border: 1px solid #663019;
  background: #ffefa3;
  padding: 30px;
  border-radius: 4px;
  margin: 0 -3px;
}


.go-back,
.reload {
  position: absolute;
  top: 12px;
  height: 20px !important;
  width: 20px !important;
  z-index: 999;

  .v-btn--icon.v-size--default {
    height: 20px;
    width: 20px;
    background: radial-gradient(circle at 50% 100%,
        #e28637,
        #9f5424 58%,
        #561d00 127%);
  }
}

.go-back {
  left: 10px;
}

.reload {
  right: 15px;

  .v-btn--icon.v-size--default .v-icon,
  .v-btn--fab.v-size--default .v-icon {
    height: 18px;
    font-size: 18px;
    width: 18px;
  }
}

.color-main {
  color: #ffcf9c;
}

.text-main {
  color: #561d00 !important;
}

.text-blue {
  color: #1E5B7E !important;
}

.text-sup {
  font-size: 80% !important;
}

.swal2-popup.swal2-modal.swal2-show {
  min-height: 200px;
}

.btn {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.235rem;
  border-radius: 0.32rem;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  margin-right: 0.2rem;
  box-shadow: 0 0.05rem 0.2rem 0 rgb(0 0 0 / 50%);
}

.login-btn {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.235rem;
  border-radius: 0.32rem;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  margin-right: 0.2rem;
  box-shadow: 0 0.05rem 0.2rem 0 rgb(0 0 0 / 50%);
  /* background-image: linear-gradient(180deg,#8872c7,#6142bf 9%,#271170 58%,#4e23af); */
  background-image: linear-gradient(180deg,
      #e28637,
      #9f5424 9%,
      #561d00 58%,
      #9f5424);

}



.btn-login-fb {
  background-image: linear-gradient(180deg,
      $blue,
      $primary-border 9%,
      $primary-bold 58%,
      $primary-border);

  &:hover {
    background-image: linear-gradient(180deg,
        $blue,
        $primary-bold 9%,
        $primary-border 58%,
        $primary-bold);
  }
}

.btn.login-btn {
  border: 1px solid #9f5424;

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg,
        #e28637,
        #9f5424 9%,
        #9f5424 58%,
        #561d00);
  }
}

.btn.active-btn {
  color: #fff;
  width: 100%;
  border: 1px solid #9f5424;
  background-image: linear-gradient(180deg,
      #e28637,
      #9f5424 9%,
      #9f5424 58%,
      #e28637);

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg,
        #e28637,
        #9f5424 9%,
        #9f5424 58%,
        #561d00);
  }
}

.nuxt-link-exact-active {
  .btn.active-btn {
    color: #fff;
    width: 100%;
    border: 1px solid red;
    background-image: linear-gradient(180deg,
        red,
        #a21d0a 9%,
        #a21d0a 58%,
        $danger);

    &:hover {
      color: #fff;
      background-image: linear-gradient(180deg,
          red,
          $danger 9%,
          #a21d0a 58%,
          #a21d0a);
    }
  }
}

.btn.search-btn {
  width: 100%;
  border: 1px solid $primary-border;
  background-image: linear-gradient(180deg,
      $primary-bold,
      $blue 9%,
      $blue 58%,
      $primary-bold);

  &:hover {
    color: #fff;
    background-image: linear-gradient(180deg,
        $primary-bold,
        $primary-bold 9%,
        $blue 58%,
        $blue);
  }
}

.btn.register-btn {
  position: relative;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 0 0.235rem;
  border-radius: 0.32rem;
  font-size: 12px;
  box-shadow: 0 0.05rem 0.2rem 0 rgb(0 0 0 / 49%);
  border: 1px solid #ffcf9c;
  font-weight: 700;
  font-weight: 500;
  color: #000;
  /* background-image: linear-gradient(180deg,#fdffdb,#d9e254); */
  background-image: linear-gradient(180deg, #fdffdb, #ffcf9c);

  &:hover {
    background-image: linear-gradient(180deg, #ffcf9c, #fdffdb);

  }
}


.mua-nick {
  cursor: pointer;
  padding: 5px;
  color: #663019;
  border: 1px solid #663019;
  background: #ffcf9c;
}

.account-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px;
}

.wrapper {
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
  user-select: none;
  background: #ffefa3;
  border: 1px solid #663019;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  .account-body {
    padding: 10px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 40px !important;
    color: #ffcf9c;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #e28637, #561d00);
  }

  form {
    // padding: 10px 30px 30px;
    background: #ffefa3;
    border: 1px solid #663019;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .field {
      height: 40px;
      width: 100%;
      margin-top: 15px;
      position: relative;

      &.submit {
        margin-top: 0px;
      }

      input:valid~label {
        top: 0%;
        font-size: 16px;
        color: #4158d0;
        background: none;
        transform: translateY(-50%);
      }

      input {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 17px;
        padding-left: 20px;
        border: 1px solid lightgrey;
        border-radius: 10px;
        transition: all 0.3s ease;
        background: #fff;

        &.v-input {
          z-index: 999999999;
          height: 35px;
          border: 1px solid #e28637;
          color: #663019 !important;
        }
      }

      label {
        position: absolute;
        top: 50%;
        left: 20px;
        color: #999999;
        font-weight: 400;
        font-size: 17px;
        pointer-events: none;
        transform: translateY(-50%);
        transition: all 0.3s ease;
      }

      input[type="submit"] {
        color: #ffcf9c;
        border: none;
        padding-left: 0;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        background: linear-gradient(-135deg, #e28637, #561d00);
        transition: all 0.3s ease;
      }
    }

    .signin {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      color: #663019;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-size: 16px;
      align-items: center;
      justify-content: space-around;

      input {
        width: 15px;
        height: 15px;
        background: red;
      }

      span {
        white-space: nowrap;
        color: #4158d0 !important;
        cursor: pointer;
      }
    }
  }
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  // width: 100% !important;
  user-select: none;
  white-space: nowrap;
  padding-top: 10px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin: 0;
  }

  label {
    display: inline-block;
    color: #e28637;
    font-size: 16px;
    max-width: 100%;
    position: relative;
    padding-left: 35px;
    height: 2em;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
  }

  label:before,
  label:after {
    top: 2px;
    width: 17px !important;
    height: 17px !important;
  }
}

.checkbox input[type="checkbox"]+label::before {
  content: " ";
  position: absolute;
  border: 1px solid #e28637;
  top: 2px;
  left: 0;
  width: 17px !important;
  height: 17px !important;
  border-radius: 2px;
}

.checkbox input[type="checkbox"]:checked+label::before {
  content: " ";
  background: linear-gradient(#e28637, #663019);
}

// input[type="checkbox"]:checked+label::after {
//   content: "\2714";
//   top: -0.5px;
//   left: 0;
//   position: absolute;
//   z-index: 2;
//   transition: 0.25s all ease;

//   width: 17px !important;
//   height: 17px !important;

//   line-height: 1.5;
//   text-align: center;
//   color: #fff;
// }

form {
  padding: 30px 20px 20px 20px;
  // border: 1px solid #333;
  background: #ffffff;
}

// .form-field {
//  margin: 20px;
// }

.form-input {
  border: 1px solid #333;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  transform: 0.25s ease;
}

.form-input:focus {
  border-color: blue;
}

// .form-field {
//  position: relative;
// }

.form-label {
  // color: #a4a4a4;
  // position: absolute;
  // top: 20px;
  // //  top: 35%;
  // font-size: 14px;
  // transform: translateY(-50%);
  // left: 21px;
  // user-select: none;
  // pointer-events: none;
  // transition: 0.25s ease;
  // z-index: 1;
  // background: #000;
}

.form-input:not(:placeholder-shown)+.form-label,
.form-input:focus+.form-label {
  // top: -9px;
  // left: 11px;
  // padding: 0 10px;
  // display: inline-block;
  // background: none !important;
  // color: #663019;
  // z-index: 9999;
}

@media (min-width: 450px) {
  .account-box {
    margin: 7% auto;
  }
}

@media (max-width: 599px) {
  .account-box {
    max-width: 390px;

    .wrapper form .field {
      height: auto;
      margin-top: 0px;
    }
  }
}

@media (max-width: 380px) {
  .account-box {
    padding: 0px;
  }
}

table th {
  width: 50%;
  padding: 7px;
  color: #ffcf9c;
  border: 1px solid #663019 !important;
  background: #e28637;
}



.table td {
  padding: 5px;
  vertical-align: top;
  border: 1px solid #e28637;
}

.break-all {
  word-break: break-all;
}

table.table {
  &.table-small {

    span,
    td,
    th,
    tr {
      font-size: 13.5px !important;
    }
  }
}

figure.image {
  &.image-style-align-center {
    text-align: center;

    img {
      max-width: 100%;
      margin: 0 auto;

    }
  }
}